/* BASICS ---------------- */
html, body {
    height: 100%;
    width:100%;
    overflow: hidden;
}

body {
    background-color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

a {
    color: #252525;
    text-decoration: none;
}

a:focus,
a:hover {
    text-decoration: underline;
}

a:focus {
    outline-color: rgb(0, 0, 0);
    outline-color: rgba(0, 0, 0, 0.6);
}

label {

}

input[type="text"],
input[type="password"],
textarea {

}

input[type="submit"],
button {

}

[disabled] {
    opacity: 0.7;
}

::-moz-selection {
    background: #b3d4fc;
    background: rgba(0, 0, 0, 0.2);
}

::selection {
    background: #b3d4fc;
    background: rgba(0, 0, 0, 0.2);
}


/* CANVAS ---------------- */

#canvas-holder, #canvas-holder .overlay {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}

#canvas-holder .overlay {
    z-index:9999;
}

canvas.layer {
    position: absolute;
    top:0px;
    left:0px;
}

/* TOOLBAR ---------------- */
.toolbar {
    padding: 20px;
    background: #ccc;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index:99999;
}

/* COLOR PICKER ---------------- */
.color-picker {
    padding: 20px;
    background: #ccc;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index:99999;
}